:root {
  --headers-color: #212121;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --ad-text-color: #ffffff;
  --bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --nav-font-weight: 500;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.19;
}

.first_half {
  color: var(--accent-color);
}

.second_half {
  color: var(--headers-color);
}

.second_half_footer {
  color: var(--ad-text-color);
}

.list,
.crew_list,
.nav {
  list-style-type: none;
}

.page_nav,
.nav_portf {
  font-weight: var(--nav-font-weight);
  font-size: 14px;
  line-height: 1.14;
  color: var(--headers-color);
  text-decoration: none;
}

.activev {
  color: var(--accent-color);
}

.blank_link {
  text-decoration: none;
}

.adress_link {
  font-weight: var(--nav-font-weight);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  text-decoration: none;
}
.page_nav:hover,
.adress_link:hover {
  color: var(--accent-color);
}

.page_nav:focus,
.adress_link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--dark-bg-color);
  text-align: center;
  font-family: var(--text-font-family);
}

.page_header {
  font-weight: 900;
  font-size: 44px;
  color: var(--ad-text-color);
  line-height: 1.36;
}
.btn {
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--ad-text-color);
  cursor: pointer;
  line-height: 1.875;
}

.section_header {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--headers-color);
  line-height: 1.16;
}
.paragraf_head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--headers-color);
}

.caps {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}

.text {
  font-size: 16px;
  line-height: 1.1875;
  color: var(--main-text-color);
}

.crew_head {
  font-size: 16px;
  line-height: 1.1875;
}

.intro {
  font-size: 14px;
  line-height: 1.71;
}
.crew_list_el {
  text-align: center;
  background-color: var(--bg-color);
}
.alt_section {
  background-color: var(--light-bg-color);
}
.nav_portf_btn {
  font-weight: var(--nav-font-weight);
  font-size: 16px;
  line-height: 1.625;
  color: var(--headers-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

.nav_portf_btn:hover,
.nav_portf_btn:focus {
  color: var(--ad-text-color);
  background-color: var(--accent-color);
}

.adress_location {
  color: var(--ad-text-color);
  line-height: 1.71;
}
.in_footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.footer {
  background-color: var(--dark-bg-color);
}
.nav_portf {
  text-align: center;
}
